.DS_Store
*.o
*.d
*.su
*.cyclo
*.elf
*.map
*.list
*.bin
*.hex
*.log
*.launch

STM32CubeIDE/Debug/
STM32CubeIDE/Release/
Debug/
Release/

build/*
!build/oled_preview/
!build/oled_preview/**

*.user
*.tmp
